body {
  background: var(--light-grayish-violet);
  position: relative;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-direito {
  position: absolute;
  top: 0;
  left: -120px;
  width: 420px;
  height: 475px;
  background: var(--light-violet);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.bg-esquerdo {
  position: absolute;
  bottom: 0;
  right: -120px;
  width: 420px;
  height: 475px;
  background: hsl(270deg 91% 91% / 30%);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

div.conteudo-principal{
  width: 780px;
  height: 435px;
  background: transparent;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.conteudo-principal .texto {
  width: 57%;
}

div.conteudo-principal .texto h1 {
  font-weight: 500;
  color: var(--very-dark-desaturated-violet);
  font-size: 36px;
  margin-bottom: 22px;
}

div.conteudo-principal .texto p {
  font-weight: 400;
  line-height: 22px;
  color: var(--dark-rayish-violet);
  font-size: 16px;
}

div.conteudo-principal .banner {
  height: 100%;
  width: 30%;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 36px;
  position: relative;
  box-shadow: 5px 5px 30px #6249498f;
}

div.conteudo-principal .banner .espaco-camera {
  background: var(--white);
  height: 30px;
  width: 142px;
  position: absolute;
  top: 0;
  border-radius: 12px;
}

div.conteudo-principal .banner .display{
  background: var(--light-grayish-violet);
  border-radius: 24px;
  width: 94%;
  height: 96%;
  overflow: hidden;
}

div.conteudo-principal .banner .display .perfil {
  width: 100%;
  height: 65px;
  background: linear-gradient(68.15deg, var(--light-violet) 16.62%, var(--light-magenta) 85.61%);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
  padding-top: 22px;
}

div.conteudo-principal .banner .display .perfil span {
  color: var(--light-grayish-violet);
}

div.conteudo-principal .banner .display .perfil div {
  display: flex;
  align-items: center;
  position: absolute;
  left: 40px;
}

div.conteudo-principal .banner .display .perfil div img {
  width: 32px;
  border-radius: 50%;
  border: solid 1.2px var(--light-grayish-violet);
}

div.conteudo-principal .banner .display .perfil div div.status {
  display: flex;
  flex-direction: column;
  width: 90px;
}

div.conteudo-principal .banner .display .perfil div div.status h2 {
  color: var(--light-grayish-violet);
  font-weight: 700;
  font-size: 12px;
  align-self: flex-start;
}

div.conteudo-principal .banner .display .perfil div div.status p {
  color: var(--grayish-blue);
  font-weight: 400;
  font-size: 8px;
  align-self: flex-start;
}

div.conteudo-principal .banner .display .chat {
  background: transparent;
  padding: 8px 6px;
  display: flex;
  flex-direction: column;
}

div.conteudo-principal .banner .display .chat .msg {
  background: hsl(270deg 61% 80% / 26%);
  width: 75%;
  padding: 4px 10px;
  border-radius: 8px 8px 8px 4px;
  margin-bottom: 4px;
}

div.conteudo-principal .banner .display .chat .msg p {
  color: var(--moderate-violet);
  font-size: 8px;
  font-weight: 400;
  line-height: 12px;
}

div.conteudo-principal .banner .display .chat ul.lista {
  display: flex;
  justify-content: space-between;
  width: 75%;
  align-self: end;
  margin: 6px 0;
}

div.conteudo-principal .banner .display .chat ul.lista li {
  width: 30%;
  list-style: none;
}

div.conteudo-principal .banner .display .chat ul.lista li img {
  width: 100%;
  border-radius: 14px;
}

div.conteudo-principal .banner .display .chat .resposta {
  background: var(--white);
  width: 75%;
  padding: 4px 10px;
  border-radius: 8px 8px 4px 8px;
  margin-bottom: 4px;
  align-self: flex-end;
  box-shadow: 0px 3.5px 1px #e3d3d34a;
}

div.conteudo-principal .banner .display .chat .resposta p {
  color: var(--very-dark-desaturated-violet);
  font-size: 8px;
  font-weight: 400;
  line-height: 12px;
}

div.conteudo-principal .banner .display .chat ul.opcoes li {
  display: flex;
  background: linear-gradient(270deg, var(--light-violet) 16.62%, var(--light-magenta) 85.61%);
  width: 85%;
  padding: 4px 10px;
  border-radius: 8px 8px 8px 4px;
  margin-bottom: 4px;
  align-items: center;
}

div.conteudo-principal .banner .display .chat ul.opcoes li span {
  color: var(--light-grayish-violet);
}

div.conteudo-principal .banner .display .chat ul.opcoes li p {
  color: var(--grayish-blue);
  font-size: 9px;
  font-weight: 500;
  margin-left: 12px;
  margin-right: 32px;
  min-width: 67px;
}

div.conteudo-principal .banner .display .chat ul.opcoes li h3 {
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
}

div.conteudo-principal .banner .display .chat div.campo-texto {
  align-items: center;
  background-color: var(--white);
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
  padding: 3px;
  margin-top: 2px;
  width: 100%;
}

div.conteudo-principal .banner .display .chat div.campo-texto span.type-message {
  color: var(--dark-rayish-violet);
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 10px;
  margin-left: 24px;
}

div.conteudo-principal .banner .display .chat div.campo-texto span.enviar {
  align-items: center;
  background-color: var(--very-dark-desaturated-violet);
  border-radius: 50%;
  color: var(--white);
  display: flex;
  height: 24px;
  justify-content: center;
  padding: 3px;
  margin-right: 3px;
  width: 26px;
}